@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'quicksand';
        src: url("../src/assets/Quicksand-VariableFont_wght.ttf");
    }
}

html{
    font-family: quicksand;
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
}

.upload-button{
    background-color: #323232 !important;
}

.date-picker{
    width: 100% !important;
}